* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --color-normal: rgb(23, 158, 23);
  --color-warning: rgb(219, 159, 47);
  --color-alert: red;
}



.dashboard-outer {
  border: 1px solid red;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.device-outer {
  border: 3px solid blue;
  width: 80%;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Use spaces, not commas */
}

.device {
  background-color: yellow;
  border: 1px solid green;

  width: 50%;

}


.threshold-outer {
  width: 50%;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
}


.threshold {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 5px;
}

.threshold-heading {
  text-align: center;
  font-weight: 700;
  font-size: large;

}

.status-outer {
  width: 60%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.normal-btn {
  background-color: var(--color-normal);
  color: white;
  padding: 15px 20px 25px 35px;
  border-radius: 10px;

}

.warning-btn {
  background-color: var(--color-warning);
  color: white;
  padding: 15px 20px 25px 35px;
  border-radius: 10px;
}

.alert-btn {
  background-color: var(--color-alert);
  color: white;
  padding: 15px 20px 25px 35px;
  border-radius: 10px;

}